.HomePage-Video{
  position: relative;
  height: 764px;
}
.Landing-Page-video {
  width: 100%;
  object-fit: cover;
  /* background-color: lightgray 50%;
opacity: 0.8; */

}

.Landing-Page-video::after{
  content: "";
  
    background-color: rgba(0, 0, 0, 0.25);
 

}

.Landing-page-Main{
  position:absolute;
  top:125px;
  left:133px;
}

.cLOUD-TRANSFORM{
  color: white;
  font-size: 40px;
  font-family: Poppins;
  font-weight: 500;

}

.Landing-page-DES{
  color: #FFF;
font-family: Poppins;
font-size: 65px;
font-style: normal;
font-weight: bold;
line-height: 78px; /* 120% */
letter-spacing: -0.32px;

}

.Homepage-dataobserve-content{

color: rgba(255, 255, 255, 0.70);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 25.6px; /* 160% */
letter-spacing: -0.32px;
}


.landingpage-datatypes{
  display: flex;
height: 61.19px;
max-width: 531.06px;
padding: 20px 46px 21.19px 48px;
justify-content: center;
align-items: center;
gap: 9.39px;
border-radius: 4px;
border: 1px solid #FFF;
background: #FFF;
}



.Landing-Page-video-we-do{
  width: 100%;
  border-radius: 12px;
 


}
.landing-page-what-we-do-02{
  background-color: #0046E8;
  width: 100%;
  height: 666px;
  
}

.confidence-landing-Page{
  color: #F4F4F4;
  font-family: Poppins;
  font-size: 34.563px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Effective-landing-wedo{
color: #F4F4F4;
font-family: Poppins;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 266.667% */
text-align: justify;
}

.WHAT-LANDING{
  color: #FFF;
font-family: Poppins;
font-size: 15.375px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 156.098% */
text-transform: uppercase;
}

.landing-Read{
  color: #FFF;
font-family: Poppins;
font-size: 15px;
font-style: normal;
font-weight: 500;
margin-bottom: 9px;
/* border-bottom: 1px solid white; */
/* width: 200px; */
}


.Landing-Page-what-wedo-2{
  padding-top: 7%;
  height: 680px;
}


.customers{
  text-align: center;
  margin-top: 37px;
  font-weight: 700;
  margin-bottom: 26px;
  font-size: 40px;
}

.HAPPY-Customers-images{
  margin-top: 20px;
}





.Digital-Overall-gap{
  margin-bottom: 3%;
}

.acco{
  margin-top: 27px;
  padding-left: 0px;
  padding-right: 0px;

}

.happy-customers-images{
  margin-left: 20px;
}



.happy-customers-shadowletters{
  border-radius: none!important;
  height: 92px;
}

.happy-customers-data-observe{
  align-items: center;
  justify-content: space-around;
  margin-top: 15px;
}

.srd-img-01{
  height: 15px;
  width: 95%;
}
.srd-img-02{
  height: 15px;
  width: 83%;
}
.srd-img-03{
  height: 15px;
  width: 83%;
}
.srd-img-04{
  height: 15px;
  width: 83%;
}
.srd-img-05{
  height: 15px;
  width: 83%;
}
.srd-img-06{
  height: 15px;
  width: 83%;
}
.srd-img-07{
  height: 15px;
  width: 83%;
}
.srd-img-08{
  height: 15px;
  width: 83%;
}
.srd-img-09{
  height: 15px;
  width: 83%;
}
.srd-img-10{
  height: 15px;
  width: 83%;
}
.srd-img-11{
  height: 15px;
  width: 83%;
}

.srd-img-12{
  height: 15px;
  width: 83%;
}
.srd-img-13{
  height: 15px;
  width: 83%;
}


.landing-Dna{
  width: 100%;
  height: 450px;
}

.Landingpage-dna-image{
  position: relative;
}

.landingpag-dna-text{
  position: absolute;
  top: 10%;
}

.landing-power-us{
color: #FFF;
font-family: Poppins;
font-size: 31.125px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.landing-observer-dna{
  color: #FFF;
font-family: Poppins;
font-size: 30.125px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-bottom: 21px;
}

.landing-dna-paragraph{
  color: #F4F4F4;
font-family: Poppins;
font-size: 14.875px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 161.345% */
padding-bottom: 21px;
text-align: justify;

}

.landing-How-WE-work{
border-radius: 5px;
border: 2px solid #FFF;
padding: 10px 20px;
color: #000;
text-align: center;
font-family: Poppins;
font-size: 19.313px;
font-style: normal;
font-weight: 500;

}
.landing-How-WE-work-1{
  border-radius: 5px;
  border: 2px solid #FFF;
  padding: 10px 20px;
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 19.313px;
  font-style: normal;
  font-weight: 500;
  
  margin-left: 15px;
  }

  .advisory-landing{
    width: 230px;
    height: 230px;
    margin-top: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .Gen-devops-talent{
    align-items: center;
    display: flex;
    justify-content: center;
    color: rgba(0, 0, 0, 0.70);
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 25.6px; /* 160% */
letter-spacing: -0.32px;
padding-bottom: 17%;
  }
  .Gen-devops-talent-1{
    align-items: center;
    display: flex;
    justify-content: center;
    color: #050505;
text-align: center;
font-family: Poppins;
font-size: 17px;
font-style: normal;
font-weight: 600;
line-height: 28.6px; /* 130% */
  }

  .Landing-strategy-all{
    border-radius: 16px;
background: rgba(0, 70, 232, 0.10);
height: 500px;
max-width: 24%!important;
margin: 4px;
  }

  .building-Landing{
    width: 100%;
  }


  .Landing-building-image{
    position: relative;
  }

  .landing-building-text{
    position: absolute;
    top: 10%;
  }

  .Building-Heading{
    color: #21314F;
font-family: Poppins;
font-size: 38.906px;
/* font-style: normal; */
font-weight: 700;
line-height: 44px; /* 113.092% */
  }
  .Building-paragraph{
    color: #092556;
font-family: Poppins;
font-size: 13.75px;
/* font-style: normal; */
font-weight: 400;
line-height: 28px; /* 160% */
  }


  .AI-Journey{
    color: #F4F4F4;
font-family: Poppins;
font-size: 29.625px;
font-style: normal;
font-weight: 300;
line-height: 35.2px; /* 111.304% */

margin: 30px 0px;
padding: 30px 0px;

  }
  .ai-Journey-image{
    width: 100%;
    border-radius: 5px;
  }

  .AI-journey-main-background{
    background: linear-gradient(94deg, #031730 2.95%, #393A61 99.46%);
    height: 550px;
  }

  .journey-Ai{
    padding-top: 6%;
  }
  .Microsoft{
    width: 168.23px;
/* height: 100.19px; */
/* flex-shrink: 0; */
  }

  .software-Coures{
    justify-content: space-evenly;
  }
 

  .software-homePAGE{
    background: #F6F9FF;
    height: 324px;
    align-items: center;
  padding-top: 4%;
  margin-bottom: 83px;
  }

  .Home-PAGE-Latest{
    padding: 15px 0px;
    margin: 15px 0px;
  }

  .landing-PartnerdBRING{
    color: #312E2D;
font-family: Poppins;
font-size: 31.938px;
font-style: normal;
font-weight: 300;
line-height: normal;
padding-bottom: 38px;
  }

  .all-mgasd{
    border-radius: 16px 0px 0px 16px;
background: #FFF;
/* padding: 36px; */
padding-top: 33px;
  }

  .potential-Landing{
    padding-top: 7%;
  }

  .Unlock-landing{
    position: relative;
    border-radius: 15px 0px 0px 15px;
background: #1A4AB9;
height: 375px;
/* margin-bottom: 15.3%; */

  }

  .landing-Limit{
    position: absolute;
    top: 11.3%;
    left: 49%;
  }

  .limit-Image-1{
    width: 100%;
    height: 461px;
    border-radius: 5px 5px 0px 0px;
   
  }

  .Potential{
    color: #FFF;
font-family: Poppins;
font-size: 39.375px;
font-style: normal;
font-weight: 400;
/* line-height: normal; */
line-height: 50px;
  }

  .landing-EXplore{
    color: #FFF;
font-family: Poppins;
font-size: 22.313px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 179.272% */
  }

  .Home-Career-page{
    margin-left: 30px;
    margin-bottom: 58.2px;
  }

  .Coures-IMAGES{
    margin-right: 0px !important;
  }

  .Intelligent-Action{
    margin-bottom: 86px;
  }

  .Gen-devops-talent-3 {
    align-items: center;
    display: flex;
    justify-content: center;
    color: rgba(0, 0, 0, 0.70);
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.6px;
    letter-spacing: -0.32px;
    padding-bottom: 28%;
  }

  .Intelligent-Heading{
    color: #312E2D;
font-family: Poppins;
font-size: 30.875px;
font-style: normal;
font-weight: 300;
line-height: 35.2px; /* 114.008% */
padding: 35px 0px;
margin: 22px 0px;
  }



  @media only screen and (min-width: 320px) and (max-width: 468px)
{
  .Landing-page-Main{
    top: 0px;
    left: 0px;
  }

  .Landing-page-DES{
    font-size: 18px;
    line-height: 15px;
    letter-spacing: 0.68px;
    padding-top: 13px;
  }

  .Homepage-dataobserve-content{
    font-size: 14px;
    line-height: 19.6px;
  }
  .HomePage-Video{
    height: 181px;
  }

  .confidence-landing-Page{
    font-size: 17px;
  }
  .Effective-landing-wedo{
    line-height: 22px;
    font-size: 14px;
  }
  .landing-page-what-we-do-02 {
    background-color: #0046E8;
    width: 100%;
    /* height: 665px; */
    /* padding-top: 42px; */
}
/* .WHAT-LANDING{
  padding-top: 40px;
} */
.customers{
  font-size: 17px;
}
.happy-customers-data-observe{
  flex-wrap: wrap;
}

.happy-customers-shadowletters{
  height: 150px;
}
.landing-power-us {
  font-size: 20px;
}
.landing-observer-dna{
  font-size: 20px;
}
.landing-How-WE-work {
  line-height: 18px;
  font-size: 12px;
  height: 49px;
  /* width: 155px; */
  /* padding: 16px; */
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;

}
.landing-How-WE-work-1 {
  line-height: 18px;
  font-size: 12px;
  height: 49px;
  /* width: 155px; */
  /* padding: 16px; */
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;

}
.landing-Dna {
  height: 530px;
}
.Intelligent-Heading{
  font-size: 18px;
  line-height: 25px;
}

.Landing-strategy-all{
  max-width: 100% !important;
  margin: 0px 20px 10px 20px;
}
.Building-Heading{
  font-size: 15px;
  line-height: 22px;
}
.Building-paragraph{
  font-size: 12px;
  line-height: 12px;
}
.AI-Journey{
  font-size: 17px;
  line-height: 32px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  
}

.AI-journey-main-background {
  height: 450px;
}

.landing-PartnerdBRING{
  font-size: 20px;
}
.Home-PAGE-Latest{
  padding-left: 39px;
}
.Microsoft {
  width: 91px;
}

.Potential {
  font-size: 16px;
  line-height: 23px;
}
.landing-EXplore{
  font-size: 14px;
  line-height: 23px;
}
.landing-Limit {
  top: 41%;
  left: 0px;
}
.advisory-landing {
  width: 150px;
  height: 150px;
}

.circles-Landing{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.limit-Image-1{
  height: 194px;
}

.all-mgasd{
  padding-top: 24px;
  padding-bottom: 24px;
}

.Landing-Page-what-wedo-2{
  padding-top: 15%;
}

.landing-dna-paragraph{
  font-size:13px;
}
}